#Testimonial__item .testi-section-bg {
    background: linear-gradient(180deg, #2F33ED 0%, #171AB7 100%);
    font-family: NeueMontreal-Regular;
}

#Testimonial__item .testi-section-bg .img-arr-img-tr {
    position: absolute;
    opacity: 0.31;
    top: 1.3rem;
    right: 0rem;
}

#Testimonial__item .winner-desc h1{
    font-family: NeueMontreal-Regular;
}
#Testimonial__item .winner-desc h3{
    font-family: NeueMontreal-Regular;
    font-size: 1.3rem;
}
#Testimonial__item .winner-desc-sm h1{
    font-family: NeueMontreal-Regular;
}
#Testimonial__item .winner-desc-sm h3{
    font-family: NeueMontreal-Regular;
}


#Testimonial__item .testi-section-bg .img-arr-img-bl {
    position: absolute;
    opacity: 0.41;
    bottom: -5rem;
    left: 0rem;
}

#Testimonial__item .winner-pic-big {
    height: 44vh;
    padding-right: 5vw;
}

#Testimonial__item .winner-desc {
    padding-right: 5vw;
    font-family: NeueMontreal-Regular;
}

#Testimonial__item .winner-quote {
    padding-right: 2vw;
    position: relative;
    font-family: NeueMontreal-Regular;
}

#Testimonial__item .winner-quote .quote-mark {
    position: absolute;
    opacity: 0.2;
    top: -3rem;
    left: -2rem;
}

#Testimonial__item .winner-desc-text {
    width: 30vw;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
}

#Testimonial__item .testimonial-title-text {
    position: absolute;
    top: 12vh;
    left: 3vw;
    font-size: 2rem;
    font-weight: 600;
}

#Testimonial__item .img-arr-img-tl-sm {
    position: absolute;
    opacity: 0.2;
    top: 0vh;
    left: 0vh;
    height: 50vh;
}

#Testimonial__item .quote-mark-sm {
    position: absolute;
    opacity: 0.2;
    top: 0rem;
    left: -2rem;
}

#Testimonial__item .winner-pic-sm {
    height : 320px;
    padding-right: 0;
    padding-top: 10vh;
}

#Testimonial__item .winner-desc-sm {
    padding-right: 0;
}

#Testimonial__item .winner-desc-text-sm {
    padding-top: 7vh;
    width: 76vw;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 170%;
}

.testimonial-title-text-small {
    margin-top : 50px;
}

#Testimonial__item .winner-desc-sm{
    margin-bottom: 50px;
}

@media screen and (max-width : 520px) {
    #Testimonial__item .winner-desc-sm h1{
        font-size: 1.75rem !important;
        font-family: NeueMontreal-Regular;
    }
    #Testimonial__item .winner-desc-sm h3{
        font-size: 1.35rem !important;
        font-family: NeueMontreal-Regular;
    }
}
