#EventCarousel__item {
    font-family: NeueMontreal-Regular;
}
#EventCarousel__item .ml-10rem {
    margin-left: 10rem;
}

#EventCarousel__item .pt-12rem {
    padding-top: 12rem;
}

#EventCarousel__item .pt-20rem {
    padding-top: 20rem;
}

#EventCarousel__item .pt-30vh {
    padding-top: 30vh;
}

#EventCarousel__item .bg-bg {
    background: radial-gradient(57.48% 57.48% at 43.62% 49.97%, #050505 0%, #151515 100%);
}

#EventCarousel__item .whiteb {
    color: white;
}

#EventCarousel__item .red-allcaps {
    color: #FB2022;
    font-size: 1.15rem;
    font-weight: normal;
}

#EventCarousel__item .img-arr-img-tl {
    position: absolute;
    opacity: 0.087;
    top: 0rem;
    left: -3rem;
}

#EventCarousel__item .img-arr-judges-topr {
    position: absolute;
    opacity: 0.2;
    top: 10rem;
    right: 5rem;
}

#EventCarousel__item .img-arr-judges-topr-sm {
    position: absolute;
    opacity: 0.2;
    top: 5vh;
    left: 5vh;
}

#EventCarousel__item .img-arr-sm {
    height: 200vh;
}

#EventCarousel__item .speakers-text {
    position: absolute;
    opacity: 0.07;
    z-index: 10;
    right: 0rem;
    top: 50vh;
    width: 100%;
}

#EventCarousel__item .speakers-text-sm {
    position: absolute;
    opacity: 0.07;
    z-index: 0;
    top: 30vh;
    width: 100%;
}

#EventCarousel__item .speaker-pic {
    position: absolute;
    z-index: 20;
    bottom: -3rem;
    right: 6vw;
    height: 95vh;
}

#EventCarousel__item .speaker-pic-small {
    position: absolute;
    z-index: 30;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20vh;
}

#EventCarousel__item .speaker-desc-sm {
    position: absolute;
    z-index: 40;
    top: 60vh;
    padding-left: 10vw !important;
}

#EventCarousel__item .event-block {
    height: 50%;
    position: absolute;
    top: 100vh;
    margin-left: 10vw !important; 
}

#EventCarousel__item .z-top-text {
    z-index: 100;
    position: absolute;
    bottom: 5.5rem;
}

#EventCarousel__item .z-index-mid {
    z-index: 30   
}

#EventCarousel__item .mt-4p5 {
    margin-top: 2.3rem;
}

#EventCarousel__item .red-text-bold {
    color: #FB2022 !important;
}

#EventCarousel__item .white-text-bold {
    color: white !important;
}

