.main-div{
    margin:100px;
    overflow-y  : hidden;
}
.faq-heading{
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
}
.faq-nav{
    width:100%;
    font-weight: 500;
    height: 45px;
    color:rgb(67,41,232);
    font-size: 1.4vw;
    padding:10px;
    
}
.faq-nav:hover{
    color:rgb(67,41,232);
    
}
.faq-question{
    box-shadow: 0px 8px 24px rgba(239, 239, 239, 0.8);
    border-radius: 6px;
    padding:20px 20px 10px 20px;
    font-size:1.4vw
   
}
.faq-question span{
    font-weight: 500;
    font-size: 2rem;
    float: right;
    margin-top: -10px ;
}
.social{
    width: 30px;
    margin:auto 10px
}
.plus{
    width: 1.2rem;
    float: right;
}