.hero{
    height: 95vh;
    background-image:url("../../../assets/Palette-Hero-Background.svg");
    overflow-y: hidden;
    display: flex;
    align-items:center;
}

#bkgd{
    height: 140vh;
    float: left;  
    position: relative;
    left: -20%;
    top:-5%;
}
.content{
    flex-grow: 1;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#star-bkgd{
    height: 100%;
    -webkit-animation: spin 32s infinite;
    animation: spin 32s infinite;
}
#p-bkgd{
    height: 50%;
    position: relative;
    left: 0%;
    top: 0%;
}

