.prizes-div{
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.prizes-heading{
    font-size:4vw;
}
.prizes-content{
    font-size:2vw;
}