.main-brand-div{
    background-color:#4329E8;
    color:white; 
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.brand-content{
    padding:4vw 8vw;
    width:70vw;
    font-size:1.5rem;
}
.brand-head{
    font-size: 5rem;
    font-weight: bolder;
    line-height: normal;
}

#brand-img {
    display : block;
    position: absolute;
    top : -20px;
    right : -70px;
    height : 130vh;
    width : auto;
    margin : 0;
}

#brand-img-bigger {
    display: none;
}

@media screen and (max-width : 1359px) {
    #brand-img {
        position: absolute;
        top : 50px;
        right : -40px;
        height : 120vh;
        width : auto;
        margin : 0;
    }
    .brand-content {
        font-size: 1.8rem;
    }
}

@media screen and (max-width : 1185px) {
    .brand-content{
        padding:4vw 8vw;
        width:70vw;
        font-size:1.6rem;
    }
    .brand-head{
        font-size: 4rem;
        font-weight: bolder;
        line-height: normal;
    }
    #brand-img {
        position: absolute;
        top : 47px;
        right : -70px;
        height : 115vh;
        width : auto;
        margin : 0;
    }
}

@media screen and (max-width : 1010px) {
   #brand-img {
       display: none;
   }
   #brand-img-bigger {
       display: block;
       height : 130vh;
       margin-bottom: 20px;
       width: auto;
   }
   .main-brand-div {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
   }
   .brand-head {
       text-align: center;
       font-size: 3rem;
   }
   .brand-content {
       font-size: 1.5rem;
       width : auto;
       max-width: 90vw;
       text-align: center;
   }
}