#InvitationNavbar__container {
    width  : 70%;
    background-color: transparent;
    margin-top : 30px;
    margin-bottom: 30px;
    height: 43px;
    display: flex;
    flex-direction: row;
    color : #7A7A7A;
}

.InvitationNavbar__component {
    width :45%;
   margin : 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    border-radius: 6px;
}

.InvitationNavbar__component:hover{
    color : rgba(86, 58, 232, 1);
}

.InvitationNavbar__component-sel {
    background-color:rgba(55, 26, 201, 0.16);
    color : rgba(86, 58, 232, 1);
}

.InvitationNavbar__component h3 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}