.ml-10rem {
    margin-left: 10rem;
}

.pt-12rem {
    padding-top: 12rem;
}

.pt-20rem {
    padding-top: 20rem;
}

.pt-30vh {
    padding-top: 30vh;
}

.bg-bg {
    background: radial-gradient(57.48% 57.48% at 43.62% 49.97%, #050505 0%, #151515 100%);
}

.whiteb {
    color: white;
}

.red-allcaps {
    color: #FB2022;
    font-size: 0.8rem;
    font-weight: 300;
}

.img-arr-img-tl {
    position: absolute;
    opacity: 0.087;
    top: 0rem;
    left: -3rem;
}

.img-arr-judges-topr {
    position: absolute;
    opacity: 0.77;
    top: 10rem;
    right: 5rem;
}

.img-arr-judges-topr-sm {
    position: absolute;
    opacity: 0.77;
    top: 5vh;
    left: 5vh;
}

.img-arr-sm {
    height: 200vh;
}

.speakers-text {
    position: absolute;
    opacity: 0.07;
    z-index: 10;
    right: 0rem;
    top: 50vh;
    width: 100%;
}

.speakers-text-sm {
    position: absolute;
    opacity: 0.07;
    z-index: 0;
    top: 30vh;
    width: 100%;
}

.speaker-pic {
    position: absolute;
    z-index: 20;
    bottom: -3rem;
    right: 6vw;
    height: 95vh;
}

.speaker-pic-small {
    position: absolute;
    z-index: 30;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20vh;
}

.speaker-desc-sm {
    position: absolute;
    z-index: 40;
    top: 60vh;
    padding-left: 10vw !important;
}

.event-block {
    position: absolute;
    top: 100vh;
    margin-left: 10vw !important; 
}

.z-top-text {
    z-index: 100;
    position: absolute;
    bottom: 5.5rem;
}

.z-index-mid {
    z-index: 30   
}

.mt-4p5 {
    margin-top: 2.3rem;
}

.red-text-bold {
    color: #FB2022 !important;
}

.white-text-bold {
    color: white !important;
}

