#InvitationCollection__container {
    display: flex;
    flex-direction: row;
    width : 98%;
    flex-wrap: wrap;
    padding : 10px 30px;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 20px;
}
#InvitationCollection__loadmore {
  display : none;
}

  @media screen and (max-width : 426px) {
    #InvitationCollection__container {
        width : 90%;
        margin-bottom: 10px ;
        padding : 10px 10px;
    }
    #InvitationCollection__loadmore {
      display: block;
      color : rgba(86, 58, 232, 1);
      font-size: 1rem;
      margin-bottom: 35px;
      cursor: pointer;
      user-select: none;
  }
  
}