#EventOverview__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#EventOverview__timeline-phone {
  display: none;
}

#EventOverview__leftdiv {
  width: 63%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  margin-left: 25px;
}

#EventOverview__start {
  background-color: #4329e8;
  position: relative;
  color: white;
  width: 90%;
  border-radius: 7px;
  margin-left: 25px;
  padding-left: 32px;
  padding-right: 10px;
  padding-top: 32px;
  font-family: NeueMontreal-BoldItalic !important;
  background-image: url("../../assets/eye.png");
  background-repeat: no-repeat;
  background-position: top right;
  box-shadow: 0px 10px 30px 4px rgb(67 41 232 / 45%);
  height: 280px;
}

#EventOverview__timelinesoondiv {
  height: 87%;
  margin-top: 10px;
  border-radius: 8px;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 0 15px;
}

#EventOverview__timelinesoondiv h3 {
  margin-top : 20px;
  font-size: 1.05rem;
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  line-height: 28px;
}

#EventOverview__timelinesoondiv h4 {
  font-size: 0.97rem;
  font-weight: 500;
  margin-top: 12px;
  font-family: Inter;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgb(171 171 171);
}

#EventOverview__start h3 {
  font-size: 4.9rem;
  margin: 0;
  margin-bottom: 5px !important;
  font-family: NeueMontreal-BoldItalic;
}


#EventOverview__start h4{
  /* margin-top: 0.09vh;
  font-size: 1rem;
  font-weight: 500; */

  font-family: NeueMontreal-BoldItalic;
  font-weight: 500;
  font-size: 18px;

  /* White */

  color: #ffffff;
}

#EventOverview__getstarted {
  font-weight: 620;
  font-size: 1.22rem;
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 48px;
  margin-bottom: 35px;
}

#EventOverview__rightdiv {
  width: 37%;
  position: relative;
  top : 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: flex-start;
  align-items: center;
}

#EventOverview__timeline {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  padding: 0px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#EventOverview__timelineheading {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

@media screen and (max-width: 1200px) {
  #EventOverview__leftdiv {
    width: 60%;
    align-items: center;
  }
  #EventOverview__rightdiv {
    width: 40%;
  }
}

@media screen and (max-width: 1025px) {
  #EventOverview__leftdiv {
    width: 57%;
  }
  #EventOverview__rightdiv {
    width: 43%;
  }
  #EventOverview__start h3 {
    font-size: 4rem;
  }

  #EventOverview__start h4 {
    margin-top: 0.09vh;
    font-size: 1rem;
    font-weight: 500;
  }
  #EventOverview__start {
    background-size: 7.3rem;
  }
}

@media screen and (max-width: 943px) {
  #EventOverview__timelinesoondiv {
    height: 82%;
  }

  #EventOverview__timelinesoondiv h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 24vh;
  }

  #EventOverview__timelinesoondiv h4 {
    font-size: 0.95rem;
    margin: 0;
  }
  #EventOverview__getstarted {
    font-weight: 620;
    font-size: 1.14rem;
    align-self: flex-start;
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  #EventOverview__start h3 {
    font-size: 3.4rem;
  }

  #EventOverview__start h4 {
    margin-top: 0.09vh;
    font-size: 1rem;
    font-weight: 500;
  }
  #EventOverview__timelineheading {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 930px) {
  #EventOverview__start {
    background-size: 7.3rem;
  }
}

@media screen and (max-width: 561px) {
  #EventOverview__timeline,
  #EventOverview__rightdiv {
    display: none;
  }
  #EventOverview__timeline-phone {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    height: 500px;
    border-radius: 10px;
    padding: 30px 15px 10px 15px;
    align-items: center;
  }
  #EventOverview__timelineheading-phone {
    font-size: 1.1rem;
    font-weight: 500;
  }
  #EventOverview__timelinesoondiv-phone {
    margin-top: 23px;
    width: 95%;
    height: 83%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #EventOverview__timelinesoondiv-phone h3 {
    font-size: 1.13rem;
    font-weight: 500;
    margin-top: 40%;
  }

  #EventOverview__timelinesoondiv-phone h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  #EventOverview__container {
    width: 100vw;
    margin: 0;
    padding-bottom: 50px;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #EventOverview__leftdiv {
    width: 98%;
    height: 100%;
    overflow-y: auto;
  }
  #EventOverview__start {
    width: 90%;
    height: 230px;
    padding-left: 17px;
  }

  #EventOverview__start h4 {
    font-size: 1rem;
    margin-top: 15px;
  }
  #EventOverview__getstarted {
    font-weight: 600;
    font-size: 1.18rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-height: 820px) {
  #EventOverview__timeline {
    height: 100%;
  }
}

@media screen and (max-height: 900px) {
  #EventOverview__timeline {
    height: 95%;
  }
}
