#ReviewsPage__container {
  display : flex;
  justify-content: center;
  align-items: center;
  height : 100%;
  width : 100%;
}

#ReviewsPage__reviewended {
  background-image: url(
    "../../assets/rounds_ended.png"
  );
  background-size: cover;
  background-repeat: no-repeat;
  width : 557px;
  height : 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding : 0 10px;
}

#ReviewsPage__btn {
  background-color: rgba(86, 58, 232, 1);
  padding : 13px 18px;
  border-radius : 8px;
  font-size: 0.8rem;
  font-family: "Inter";
  color : white;
  cursor : pointer;
  margin : 25px 0 0 0 ;
}
#ReviewsPage__btn:hover {
  background-color: rgba(105, 79, 239, 1);
}

#ReviewsPage__btn:active
{
  background-color : rgba(56, 27, 202, 1);
}

#ReviewsPage__reviewended h3 {
  color : #FFFFFF;
  font-size: 1.35rem;
  font-family: "Inter";
}

#ReviewsPage__reviewended p {
  color : white;
  font-size: 1rem;
  margin-top: 15px;
  font-family: "Inter";
}

#ReviewsPage__reviewended p:nth-child(4) {
  font-size: 0.9rem;
}
/*#ReviewsPage__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin-top: 50px;
}

#ReviewsPage__form {
  margin-top: 20px;
  background-color: white;
  width : 90%;
  border-radius: 8px;
  height : max-content;
  margin-bottom: 50px;
}

#ReviewsPage__enddiv {
  border : 0.67px solid rgba(20, 20, 20, 1);
  color : rgba(20, 20, 20, 1);
  padding : 10px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  width : 335px;
  text-align: center;
  min-width: 335px;
  margin-right : 20px;
  height : 45px;
  max-height: 45px;
}

#ReviewsPage__enddiv span {
  font-weight: 600;
}

.ReviewsPage__submitbtn {
  background-color: rgba(67, 41, 232, 1);
  color : white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 10px 16px;
  cursor: pointer;
  border-radius: 8px;
  width : 160px;
  min-width: 160px;
  height: 43px;
  max-height: 43px;
}

.ReviewsPage__submitbtn.ReviewsPage__saving{
  cursor :initial;
}

.ReviewsPage__submitbtn:hover {
  background-color: rgba(105, 79, 239, 1);
}

.ReviewsPage__submitbtn:active
{
  background-color : rgba(56, 27, 202, 1);
}

.ReviewsPage__submitbtn.ReviewsPage__saving:hover {
  background-color: rgba(67, 41, 232, 1);
}

.ReviewsPage__submitbtn.ReviewsPage__saving:active
{
  background-color : rgba(67, 41, 232, 1);
}
.ReviewsPage__helpertext {
  margin-bottom : 20px;
  margin-top: -12px;
  font-size: 0.9rem;
  color :rgba(194, 194, 194, 1);
  font-family: NeueMontreal-Regular !important,
}
#ReviewsPage__form input , #ReviewsPage__form textarea {
  color: rgba(20, 20, 20, 1) !important;
  border :  2px solid rgba(170, 170, 170, 1) !important;
  border-radius: 5px;
  padding : 10px 10px;
  margin-bottom: 20px;
  width : 100%;
  font-size: 1rem;
}

#ReviewsPage__form textarea {
  min-height: 250px;
}

.ReviewsPage__required {
  color : red;
  margin-left: 2px;
}

#ReviewsPage__probst h3 {
  font-size : 1rem;
  font-weight: bold;
  margin : 10px 0px;
}

#ReviewsPage__projinfo {
  margin: 20px 0 !important;
}

.ReviewsPage__qtitle {
  font-size: 1rem;
  margin-bottom: 20px !important;
}

#ReviewsPage__probst p {
  font-size: 1.1rem;
  margin  : 10px 0;
  font-family: NeueMontreal-Regular !important;
}

#ReviewsPage__probst p span {
  font-family: NeueMontreal-Regular !important;
  font-weight: 600;
  letter-spacing: 0.5px;
}*/