#SelfTeamPage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  border-radius: 6px;
}

#SelfTeamPage__container input {
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 0;
  width: max-content;
  text-align: center;
  margin-top: 10px;
}

#SelfTeamPage__editbtn {
  background: rgba(55, 26, 201, 0.16);
  padding: 10px 10px;
  margin: 0;
  margin-top: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}
#SelfTeamPage__editbtn:hover {
  box-shadow: 0 0 5px 1px rgba(86, 58, 232, 0.3);
}
#SelfTeamPage__editbtn h4 {
  margin: 0;
  font-size: 0.96rem;
  font-weight: 500;
  color: rgba(86, 58, 232, 1);
}
#SelfTeamPage__userdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

#SelfTeamPage__userdetail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 7px;
  padding-left: 7px;
}
#SelfTeamPage__userdetails #SelfTeamPage__userdetail:nth-child(1) {
  border-right: 2px solid rgba(61, 61, 61, 1);
}

#SelfTeamPage__userinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#SelfTeamPage__userinfo img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
#SelfTeamPage__userinfo h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 10px;
}

#SelfTeamPage__userinfo h5 {
  text-align: center;
  margin-top: 5px;
  font-weight: lighter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #7a7a7a;
}

#SelfTeamPage__skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
.SelfTeamPage__skill {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 9px;
  margin: 3px 3px;
  border-radius: 5px;
}

#SelfTeamPage__discord {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background: rgba(55, 26, 201, 0.16);
  padding: 15px 15px;
  border-radius: 5px;
  width: 80%;
}

#SelfTeamPage__discord h4 {
  font-size: 0.94rem;
  font-weight: normal;
  margin: 0;
}

#SelfTeamPage__discordbtn {
  background-color: rgba(86, 58, 232, 1);
  color: white;
  padding: 10px 12px;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: normal;
  cursor: pointer;
}

#SelfTeamPage__discordbtn:hover {
  box-shadow: 0px 0px 3px 1px rgba(86, 58, 232, 0.65);
}

#SelfTeamPage__leave {
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #ff2d52;
}

#SelfTeamPage__jointeam {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 20px;
}

.grecaptcha-badge {
  display: none !important;
}

#SelfTeamPage__jointeambtn h4 {
  font-size: 1rem;
  text-align: center;
  margin: 5px 7px;
}

#SelfTeamPage__jointeam p {
  font-size: 1rem;
  margin-top: 10px;
  font-family: Inter;
}

#SelfTeamPage__jointeam-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px !important;
}

#SelfTeamPage__enterteam {
  padding-top: 5px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#SelfTeamPage__enterteam div:nth-child(1) {
  padding: 10px 20px;
  width: 64%;
}

#SelfTeamPage__enterteam div:nth-child(1) input {
  width: 70%;
  height: 40px;
  background-color: transparent;
  border: 0px;
  outline: none;
  font-size: 1.05rem;
  font-weight: normal;
  margin-top: 0;
  text-align: left;
}

#SelfTeamPage__jointeambtn {
  color: white;
  padding: 6px 8px;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(86, 58, 232, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

#SelfTeamPage__jointeambtn:hover {
  box-shadow: 0px 0px 3px 1px rgba(86, 58, 232, 1);
}

#SelfTeamPage__enterteam div:nth-child(1) h2 {
  font-size: 1.02rem;
  font-weight: 500;
  margin-bottom: 0px !important;
}

#SelfTeamPage__teamcode {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #563ae8;
  color: #563ae8;
  font-weight: 500 !important;
  font-size: 0.8rem;
  /* margin-top: 10px;
  padding: 3px 15px; */
  padding: 2rem 0;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 45px;
  margin-bottom: 4px;
}

#SelfTeamPage__teamcode:hover {
  box-shadow: 0 0 5px 1px #563ae8;
}

#SelfTeamPage__teamcode.SelfTeamPage__copied {
  cursor: initial;
  border: 1px solid rgba(77, 220, 74, 1);
  color: rgba(77, 220, 74, 1);
}

#SelfTeamPage__teamcode.SelfTeamPage__copied:hover {
  box-shadow: 0 0 0 0;
}

#SelfTeamPage__teamcode h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: 0.4px;

  /* Primary */

  /* color: #563ae8; */

  /* margin-right: 15px; */

  /* font-weight: 550 !important;
  font-size: 1rem !important; */
}

@media screen and (max-width: 1175px) {
  #SelfTeamPage__container {
    width: 500px;
    height: max-content;
  }
  #SelfTeamPage__jointeam {
    align-items: center;
    margin-top: 20px;
    width: 90%;
  }

  #SelfTeamPage__userdetails #SelfTeamPage__userdetail:nth-child(1) {
    border-right: 0px;
  }

  #SelfTeamPage__userdetails.doubleteam #SelfTeamPage__userdetail:nth-child(2) {
    margin-top: 28px;
  }

  #SelfTeamPage__userdetails {
    flex-direction: column;
    width: 100%;
  }
  #SelfTeamPage__userdetail {
    width: 100%;
  }
}

@media screen and (max-width: 854px) {
  #SelfTeamPage__container {
    width: 80%;
  }
}
