.Register__register{
    background-color: #4329E8;
    color:white;
    font-weight: 400;
    padding:10px;
    width: 100%;
    font-size: 1.05rem;
    box-sizing: border-box;
    font-family: NeueMontreal-Regular;
    z-index: 2;
}
.Register__register-body {
    width  :100vw;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: NeueMontreal-Regular;
    position: relative;
    overflow : hidden;
    padding : 0 20px;
}
.Register__btn.Register__register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: NeueMontreal-Regular;
    font-size: 0.95rem;
    width: 300px;
    height : 50px;
    padding : 10px 5px;
    font-weight: 400;
    color : white;
    border-radius : 4px;
    margin-bottom: 20px;
    border : none !important;
    outline:  none !important;
}

.Register__btn.Register__register img {
    width : 20px;
    margin-right: 10px;
}
.Register__register:hover{
    box-shadow: 0px 0px 3px 1px rgb(67,41,232);
}
.Register__register:active , .Register__register:focus{
    box-shadow: 0px 0px 3px 1px rgb(67,41,232);
    border : none !important;
    outline:  none !important;
}
.Register__nav-register{
    color:rgb(67,41,232);
    background-color:rgb(67,41,232,0.16);
    font-weight: 500;
    font-size: 1.4vw;
    padding:10px;
}
.Register__register-heading{
    font-size: 2.4rem;
    margin-bottom:5vw;
    font-family: NeueMontreal-Regular;
    font-weight: 500;
    z-index : -1;
}
.Register__star-one{
    position:absolute;
    top : -7vw;
    right:0vw;
    width:11vw;
    margin : 0;
}
.Register__star-two{
    position: absolute;
    bottom: 0;
    left:0;
    margin : 0;
    width:8vw;
}
.Register__register-body{
    text-align: center;
    font-weight: bolder;
}

.Register__illus-one {
    width: 17rem;
    position: relative;
    animation: illusOne 7s 1000;
    animation-direction: alternate;
    z-index:1 ;
  }
  
  @keyframes illusOne {
    0%   {left: 30vw; top: 10vw;}
    25%  {left: 15vw; top: 15vw;}
    50%  {left: 20vw; top: 10vw;}
    75%  {left: -25vw; top: 5vw;}
    100% {left: -12vw; top: 2vw;}
  }

  
.Register__illus-two {
    width: 13rem;
    position: relative;
    animation: illusTwo 7s 1000;
    animation-direction: alternate;
    z-index:-1

  }
  
  @keyframes illusTwo {
    0%   {left: 20vw; top: 0vw;}
    25%  {left: -20vw; top: -10vw;}
    50%  {left: -15vw; top: -5vw;}
    75%  {left: -25vw; top: -3vw;}
    100% {left: 15vw; top: -8vw;}
  }

  @media screen and (max-width : 780px) {
    .Register__btn.Register__register {
        width: 300px;
        padding : 8px 3px;
        font-weight: 300;
        font-size: 0.97rem;
        color : white;
        margin-bottom: 20px;
    }
    .Register__btn.Register__register img {
        width : 19px;
    }
    .Register__register-heading {
        font-size: 1.8rem;
    }
  }

  @media screen and (max-width : 562px) {
      .Register__register-heading {
          font-size: 1.6rem;
      }
      .Register__btn.Register__register {
        width: 250px;
        padding : 8px 0px;
        font-weight: 300;
        font-size: 0.82rem;
        color : white;
        margin-bottom: 20px;
    }
    .Register__btn.Register__register img {
        width : 16px;
    }
    .Register__star-one{
        width:4rem;
    }
    .Register__star-two{
        width:3rem;
    }
    .Register__illus-one {
        width: 14rem;
    }
    .Register__illus-two {
        width : 11rem;
    }
  }