.prizes-div{
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 100px;
    
}
.prizes-heading{
    font-size:2.8rem;
    font-weight: 600;
}
.prizes-content{
    font-size:1.4rem;
    font-weight: normal;
}

@media screen and (max-width : 500px) {
    .prizes-div {
        padding-bottom: 0;
    }
    .prizes-heading{
        font-size:2rem;
        font-weight: 600;
    }
    .prizes-content{
        font-size:1.2rem;
        font-weight: normal;
    }
    
}