#Flashback__container {
    height : 100vh;
    width : 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
}

#Flashback__container .thumbs-wrapper {
    display: none;
}

#Flashback__container .carousel:nth-child(2) {
    display: none;
}

#Flashback__container .carousel ,#Flashback__container .carousel-root , #Flashback__container .carousel-slider , #Flashback__container .slider-wrapper,  #Flashback__container .axis-horizontal , #Flashback__container .slider.animated , #Flashback__container .slide , #Flashback__container .slide div{
    width : 100%;
    height : 100%;
}

#Flashback__leftcontainer {
    display : flex;
    flex-direction : column;
    align-items: center;
    width : 35vw;
    padding-top : 60px;
    padding-left : 40px;
    padding-right: 40px;
}

#Flashback__leftcontainer h4 {
    font-size: 1.7rem !important;
    font-weight: 600;
}

#Flashback__leftcontainer p {
    font-size: 1.1rem;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: normal;
}

#Flashback__leftcontainer img {
    width : 90%;
    margin-bottom: 30px;
}

#Flashback__rightcontainerdesktop {
    width: 65vw;
    height : 100vh;
}

#Flashback__rightcontainerdesktop img {
    width : 100%;
    height :100%;
}

#Flashback__rightcontainermobile {
    display : none;
    width : 100%;
    height : auto;
}
#Flashback__rightcontainermobile img {
    margin : 0;
    width : 100vw;
    height : auto;
}
@media screen and (max-width : 765px) {
    #Flashback__rightcontainerdesktop {
        display : none;
    }
    #Flashback__rightcontainermobile {
        display: flex;
    }
    #Flashback__container {
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
    #Flashback__leftcontainer {
        width : 100vw;
        padding : 0;
        margin: 0;
        padding-top : 60px;
    }
    
    #Flashback__leftcontainer p {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #Flashback__leftcontainer h4, #Flashback__leftcontainer p{
        padding : 13px 15px;
    }
}