.register{
    background-color: #4329E8;
    color:white;
    font-weight: 400;
    padding:10px;
    width: 100%;
    font-size: 1.05rem;
    box-sizing: border-box;
    z-index: 2;
}
.register-body {
    width  :100vw;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    position: relative;
    overflow-y : hidden;
}
.btn.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding : 10px 5px;
}

.btn.register img {
    width : 20px;
}
.register:hover{
    color:white
}
.nav-register{
    color:rgb(67,41,232);
    background-color:rgb(67,41,232,0.16);
    font-weight: 500;
    font-size: 1.4vw;
    padding:10px;
}
.register-heading{
    font-size: 2.5rem;
    margin-bottom:5vw;
    font-weight: 500;
    z-index : -1;
}
.star-one{
    position:absolute;
    top : -7vw;
    right:0vw;
    width:11vw;
    margin : 0;
}
.star-two{
    position: absolute;
    bottom: 0;
    left:0;
    margin : 0;
    width:8vw;
}
.register-body{
    text-align: center;
    font-weight: bolder;
}

.illus-one {
    width: 19vw;
    position: relative;
    animation: illusOne 7s 1000;
    animation-direction: alternate;
    z-index:1 ;
  }
  
  @keyframes illusOne {
    0%   {left: 30vw; top: 10vw;}
    25%  {left: 15vw; top: 15vw;}
    50%  {left: 20vw; top: 10vw;}
    75%  {left: -25vw; top: 5vw;}
    100% {left: -12vw; top: 2vw;}
  }

  
.illus-two {
    width: 15vw;
    position: relative;
    animation: illusTwo 7s 1000;
    animation-direction: alternate;
    z-index:-1

  }
  
  @keyframes illusTwo {
    0%   {left: 20vw; top: 0vw;}
    25%  {left: -20vw; top: -10vw;}
    50%  {left: -15vw; top: -5vw;}
    75%  {left: -25vw; top: -3vw;}
    100% {left: 15vw; top: -8vw;}
  }