#ResourceCollection__container {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    width : 92%;
    height : 40%;
}

@media screen and (max-width : 561px) {
    #ResourceCollection__container {
        height : max-content;
    }
}
@media screen and (max-width : 423px) {
    #ResourceCollection__container {
        flex-direction: column;
        align-items: center;
        width  :100%;
    }
}